#translate {
  padding-top: 20px;
  padding-bottom: 20px;
}

#english-text {
  padding-top: 20%;
  padding-bottom: 20%;
}

#japanese-text {
  padding-top: 20%;
  padding-bottom: 20%;
}

#translate-button-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#translate-button {
  padding: 20px;
}
