#hiragana {
  padding: 20px;
}

#hiragana-row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

#hiragana-button {
  margin-right: calc((80% - (5 * 80px)) / 4);
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
}
