/* Custom Fonts */
@font-face {
  font-family: kei-font;
  src: url("./assets/font/keifont.ttf");
  font-weight: normal;
}

/* Default CSS */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
  position: relative;
}
